@{ViewData["Title"] = "My Podcast";
}

<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <a href="https://baconsale.com/" target="_blank">
        <h1>Check Out My Podcast!</h1>
    </a>
</div>


